/SE42_Opdracht1/target/
/SE42 auction/auction/target/
/SE42 auction/auction/src/main/resources/META-INF/persistence.xml
/SE42 auction/auction/src/main/resources/META-INF/.LCKpersistence.xml~
/SE42 auction/auctionV2/target/